/* General styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif;
}

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../homePage/background.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Main container */
.main {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Login heading */
h8 {
    color: #78f040;
    font-size: 35px;
}
.description{
    color: whitesmoke;
    font-size: 15px;

}
.message{
    color: whitesmoke;
    font-size: 15px;
}
/* Form */
form {
    margin-bottom: 20px;
}

/* Form label */
label {
    display: block;
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 5px;
}

/* Form input fields */
input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjusted width to accommodate for the border */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the width calculation */
}

/* Form button */
button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #78f040;
    font-size: 16px;
}

/* Form button hover */
button:hover {
    background-color: #6ed53e;
    border: 1px solid #6ed53e;
    transition: 0.5s;
}
