RewriteEngine On
RewriteBase /Proiect_TW/src/
RewriteRule ^index\\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Proiect_TW/src/index.php [L]
php_value upload_max_filesize 100M
php_value post_max_size 100M